<div class="form-signin">  	
	<center><h2>Forgot your password?</h2></center>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true, class: "form-control" %><br>
	  

	  
	    <%= f.submit "Send me instructions", class: "btn btn-lg btn-primary btn-block" %>
	  
	<% end %>
<br>
	<%= render "devise/shared/links" %>
</div>